{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=h40MTWwwSpgwCUEw8MbIiBnc3X4keNgX"></script>
{% endblock %}
{% block title %}主页{% endblock %}
{% block content %}
    <div id="allmap"></div>
<a href="/map/enter/">
<button>编辑地图</button>
</a>

    <script type="text/javascript">
    // 百度地图API功能

    var map = new BMap.Map("allmap");
    map.centerAndZoom("沈阳", 10);

    map.enableScrollWheelZoom(true);
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });
    map.addControl(navigationControl);

$(function() {
        get_location();
        })
    function get_location() {

        var address_latitude ={{ address_latitude |safe}};
        var address_longitude ={{ address_longitude|safe }};
        var address_data ={{ address_data |safe}};
console.log(address_data)
        for (var i = 0; i < address_longitude.length; i++) {
            var point = new BMap.Point(address_longitude[i], address_latitude[i]); //循环生成新的地图点
            createMarker(point,address_data[i])
        }
    }
function createMarker(point,point_data) {
    var marker = new BMap.Marker(point); //按照地图点坐标生成标记
    map.addOverlay(marker);
    marker.addEventListener('click', function () {
        showInfo(this,point_data);
    });
}
function showInfo(thisMarker,point_info) {
    //获取点的信息
    var infoWindow = new BMap.InfoWindow(point_info); //创建信息窗口对象
    thisMarker.openInfoWindow(infoWindow); //图片加载完后重绘infoWindow
}

</script>
{% endblock %}