{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
      <link href="{% static 'css/enter_form.css' %}" rel="stylesheet">
<style>
 body .demo-class .layui-layer-btn0{
  border-color: #4898d5;
  background-color: #2e8ded;
  color: #ffffff;
 }
 body .demo-class .layui-layer-btn1{
  border-color: #d55324;
  background-color: #ed310b;
  color: #fff;
 }
</style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=h40MTWwwSpgwCUEw8MbIiBnc3X4keNgX"></script>
    <script type="text/javascript" src="{% static 'js/3.1.1/layer.js' %}"></script>
    <script src="http://qzs.qq.com/tencentvideo_v1/js/tvp/tvp.player.js" charset="utf-8"></script>

{% endblock %}
{% block title %}主页{% endblock %}
{% block content %}


    <div id="enter_form" style="display: none">
    <img src="" id="show_img" style="width: 250px;margin-left: 15px;margin-bottom: 5px">
   <form  action="" method="post" enctype="multipart/form-data" id="form" class="smart-green" >
{% csrf_token %}
<a href="javascript:;" class="file" id="up_file_block"><span id="file_button_text"></span>
    <input type="file"  name="up_file" id="up_file"  onchange="up_img_process(this.value)">
</a>
<img id='up_demo_block' style="width: 250px;margin-bottom: 5px">
               <div id = "up_file_error" class="error-msg" style="font-weight: bold"></div>
<label id="video_url_block" style="display: none"><span>视频网址 :</span>
        <input id="video_url"  type="text" name="video_url"  />

    <div id="video_play_block"><span></span><br><video width="300" id ="video" class="videoContent" controls>
   <source id="video_play_url" src="" type="video/mp4"/>
</video></div>

        <div id = "video_url_error" class="error-msg" ></div>
    </label>
       <label><span>建筑名称 :</span>
        <input id="building_name"  type="text" name="building_name"  />
        <div id = "building_name_error" class="error-msg" ></div>
    </label>
    <label><span>原始标题 :</span>
        <input id="title"  type="text" name="title"  />
        <div id = "title_error" class="error-msg"></div>
    </label>
       <label><span>拍摄者 :</span>
        <input id="creator" type="text" name="creator"  />
        <div id = "creator_error" class="error-msg"></div>
    </label>
       <label><p style="display: inline-block">拍摄时间 :</p>
       <select id="select_1" style="background-color:#e8f0fe;margin-left:10px;height:23px;margin-top:5px;width:70px;display: inline-block" onchange="select_datefill()">
  <option value ="A">样式&nbsp;A</option>
  <option value ="B">样式&nbsp;B</option>
</select>
           <div id="date_A" style="border:1px solid #9b9b9b;border-radius: 3px;width: 140px;">
        <input id="cre_date_year"  class="unify_date_id" type="text" placeholder="年" name="cre_date_year"  style="display: inline-block;width: 50px;border-radius: 3px"/>
       <input id="cre_date_month"  class="unify_date_id" type="text" placeholder="月" name="cre_date_month"  style="display: inline-block;width: 40px;border-radius: 3px"/>
       <input id="cre_date_day"  class="unify_date_id" type="text" placeholder="日"  name="cre_date_day"  style="display: inline-block;width: 40px;border-radius: 3px"/>
           </div>
<input id="cre_date_str"  class="unify_date_id" type="text" placeholder="例如:“民国时期”"  name="cre_date_str"  style="display:none;height:35px;width: 140px;border-radius: 3px"/>
        <div id = "cre_date_error" class="error-msg"></div>
    </label>
       <label><span>地理位置 :</span>
        <input id="location" type="text" name="location"  />
        <div id = "location_error" class="error-msg"></div>
    </label>
       <label ><span id="description_value"></span>
        <textarea id="file_description"  name="file_description"></textarea>
        <div id = "file_description_error" class="error-msg"></div>
    </label>
    <label id="encodetype_value_block" ><span id="encodetype_value"></span>
        <input id="encode_type"  type="text" name="encode_type"/>
        <div class="error-msg"></div>
    </label>
       <label><span> 建筑现状:</span>
        <textarea id="building_information"  name="building_information"></textarea>
        <div id = "building_information_error" class="error-msg"></div>
    </label>
       <label><span> 发布者:</span>
        <input id="announcer" type="text" name="announcer"  />
        <div class="error-msg"></div>
    </label>
       <label><span> 版权人:</span>
        <input id="CopyrightOwner" type="text" name="CopyrightOwner"  />
        <div class="error-msg"></div>
    </label>
       <label ><span id="source_value"></span>
        <input id="file_citation" type="text" name="file_citation"  />
        <div class="error-msg"></div>
    </label>
       <label><span> 分类:</span>
        <input id="type" type="text" name="type" placeholder="可填多个标签(以空格分隔)" />
        <div class="error-msg"></div>
    </label>
    <div class="success-msg"></div>
    <input type="hidden" name="csrfmiddlewaretoken" value="SfHkbL4feo1G00sJQtbO7TtLN4c2BUwa" />
</form>
</div>
<form action="" method="get">
<div id="search_block">
  <label style="margin-left: 10px;color: white">地点：</label>
  <input id="where" style="margin-top: 8px;margin-bottom: 5px";name="where" type="text" >
  <input type="button" value="地图上找"  style="margin-right: 10px;" onClick="sear(document.getElementById('where').value);" />
    <button id="update_submit" style="width:100px;margin-top: 9px;color: #ed310b" onClick="return submit_update()">提交修改</button>

</div>
  <div style="border:1px solid gray;" id="allmap"></div>  <br />
        <p style="color: #304d5e;font-size: 12px;margin-left: 5px">红色五角星:&nbsp;您本人创建的标注点;<br>黄色五角星:&nbsp;其他用户创建的标注点;</p>
</form>
<script type="text/javascript">
    // 百度地图API功能
       // 百度地图API功能
    $('#li-2').addClass("active");
        var winWidth,winHeight=0;
        var map_block = document.getElementById('allmap');
        if (window.innerWidth)
        winWidth = window.innerWidth;
        else if ((document.body) && (document.body.clientWidth))
        winWidth = document.body.clientWidth;
        //获取窗口高度
        if (window.innerHeight)
        winHeight = window.innerHeight;
        else if ((document.body) && (document.body.clientHeight))
        winHeight = document.body.clientHeight;
        //通过深入Document内部对body进行检测，获取窗口大小
        if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth)
        {
        winHeight = document.documentElement.clientHeight;
        winWidth = document.documentElement.clientWidth;
        }
        var where_block = document.getElementById('where');
        var submit_block = document.getElementById('update_submit');
        var search_block = document.getElementById('search_block');
        where_block.style.width = winWidth/6 + 'px';
        submit_block.style.cssFloat="right";
        search_block.style.width=winWidth + 'px';
        map_block.style.height = winHeight*2/3 +50+ 'px';
        map_block.style.width = winWidth + 'px';
    if(!localStorage.hasOwnProperty("MapSchema_update_data"))
    {
            localStorage.setItem("MapSchema_update_data",JSON.stringify({}));
    }
    var type_arr = [];
    var showflag=false;
    var marker;
    var time = 0;
    var bjh = $("input[name='bjh']").val();
    var sx = $("input[name='sx']").val();
    var sqr = $("input[name='sqr']").val();
    var pointX;
    var pointY;
    var marker_type;

     var map = new BMap.Map("allmap" ,{ enableMapClick: false }); // 创建Map实例

map.setDefaultCursor("crosshair");
    map.centerAndZoom(new BMap.Point(123.423808, 41.70225), 15); // 初始化地图,设置中心点坐标和地图级别,****代表经纬度，可以通过http://api.map.baidu.com/lbsapi/creatmap/ 来查看你需要的城市的经纬度

    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes : [ BMAP_NORMAL_MAP, BMAP_HYBRID_MAP ]
    }));
    map.setCurrentCity("沈阳"); // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
    //点击地图并在此添加标记
    //向地图中添加缩放控件
    var ctrlNav = new window.BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        type: BMAP_NAVIGATION_CONTROL_LARGE
    });
    map.addControl(ctrlNav);
    //向地图中添加缩略图控件
    var ctrlOve = new window.BMap.OverviewMapControl({
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
        isOpen: 1
    });
    map.addControl(ctrlOve);
    //向地图中添加比例尺控件
    var ctrlSca = new window.BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_LEFT
    });
    map.addControl(ctrlSca);
    map.addEventListener("click", function(e) {//鼠标单击地图触发
        if (time >= 1) {
            return;
        } else {
            choose_form(e);
        }
    });
$(function() {

        get_location();
        })
function get_location() {
    var post_data = "";
    var receive_data="";
    var address_latitude ="";
    var address_longitude ="";
    var address_data ="";
        $.ajax({
                async:false,
                url: '/map/get_points/',
                type: "POST",
                data: post_data,
                success: function (data) {
                receive_data = JSON.parse(data);
                address_latitude =receive_data["address_latitude"];
                address_longitude =receive_data["address_longitude"];
                address_data =receive_data["address_data"];
                console.log(receive_data)
                var point,center_point="none";
                var user_id = {{ request.session.user_id }}
                for (var i = 0; i < address_longitude.length; i++) {
                    point = new BMap.Point(parseFloat(address_longitude[i]), parseFloat(address_latitude[i])); //循环生成新的地图点
                    if(address_data[i]["monitor_id"]==user_id)center_point=point;
                    createMarker(point,address_data[i])
        }
                if(center_point=="none")center_point=point;
                map.centerAndZoom(center_point, 15);

                },
                error:function () {
               $.ShowLoadDialogClose();
                  alert("获取失败！")
                }
             });

    }
 function select_datefill(){
 var vs = $('#select_1').val();
      console.log(vs)

 if(vs=="A")
 {
     $('#date_A').css("display","block");
      $('#cre_date_str').css("display","none");
      $('#cre_date_str').val("");

 }
 else
 {
      $('#date_A').css("display","none");
     $('#cre_date_str').css("display","block");
     $('#cre_date_year').val("");
    $('#cre_date_month').val("");
    $('#cre_date_day').val("");
 }
}
function createMarker(point,point_data) {
    user_id = {{ request.session.user_id }}
    var marker = new BMap.Marker(point, {
  // 初始化五角星symbol
  icon: new BMap.Symbol(BMap_Symbol_SHAPE_STAR, {
    scale: 1,
    fillColor: "yellow",
    fillOpacity: 0.8
  })
});
    if(user_id == point_data["monitor_id"])
    {
        marker = new BMap.Marker(point, {
  // 初始化五角星symbol
  icon: new BMap.Symbol(BMap_Symbol_SHAPE_STAR, {
    scale: 1,
    fillColor: "red",
    fillOpacity: 0.8
  })
});
    }

    map.addOverlay(marker);
    marker.addEventListener('click', function () {
        showInfo(this,point_data);
    });
}

function display_date(pointInfo_datestr, type,node_id) {
        if(type == 0)
        {
            $('#select_1').val('B');
           select_datefill()
            $('#cre_date_str').val(pointInfo_datestr);
            $('.unify_date_id').attr("node_id",node_id);
            $('#cre_date_str').css("background","#e8f0fe");
        }
        else if(type==1)
        {
            $('#select_1').val('A');
            select_datefill()
            pointInfo_datestr = pointInfo_datestr.replace('#',"");
            var reg = new RegExp("[年月日]","g");
            var temp_str = pointInfo_datestr.replace(reg,"|");
            var str_list = temp_str.substring(0,temp_str.length-1).split('|');
            $('#cre_date_year').val(str_list[0]);
            $('#cre_date_year').css("background","#e8f0fe");
            if(str_list.length>1)
            {$('#cre_date_month').val(str_list[1]);
            $('#cre_date_month').css("background","#e8f0fe");}
            if(str_list.length>2)
            {$('#cre_date_day').val(str_list[2]);
            $('#cre_date_day').css("background","#e8f0fe");}
            $('.unify_date_id').attr("node_id",node_id);

        }
    }
function clear_form() {
    $("#form").find("input").removeAttr("readonly");
    $("#form").find("textarea").removeAttr("readonly");
    $("#up_file").attr("disabled",false);
    document.getElementById('form').reset();
    $("input").css('background',"#FBFBFB");
    $("textarea").css('background',"#FBFBFB");
    $('.error-msg').html('');
    $("#show_img").attr("src","");
    $("#up_demo_block").attr("src","");

}
function showInfo(thisMarker,point_info) {
    clear_form()
    var update_data = JSON.parse(localStorage.getItem("MapSchema_update_data"))
    if(!update_data.hasOwnProperty(point_info["node_id"]))update_data[point_info["node_id"]]={"marker_type":point_info["marker_type"]}
    var record_set = update_data[point_info["node_id"]]
    user_id = {{ request.session.user_id }}
    user_role  = '{{ request.session.role }}';
    showflag=true;
    console.log(point_info["node_id"])
    for(var i in point_info)
    {
        if(i=='node_id' || i=='monitor_id'||i=='marker_type')continue;
        var value_str=point_info[i],temp_str;
        if(i == "cre_date")
        {
            temp_str= value_str[0][0]
            if(record_set.hasOwnProperty("cre_date"))temp_str=record_set["cre_date"][0]
            console.log(temp_str)
            if(temp_str.charAt(temp_str.length-1)=='#')
            {
                display_date(temp_str,1,value_str[0][1]);
            }
            else
            {
                display_date(temp_str,0,value_str[0][1]);
            }

        }
        else
        {
           temp_str=""
           for(var index_i in value_str)
           {
            temp_str = value_str[index_i][0]
           }
            $('#'+i).val(temp_str);
            $('#'+i).attr('node_id',value_str[0][1])
            if(temp_str!="")$('#'+i).css("background","#e8f0fe");
        }
    }
    for(var obj in record_set)
    {
        $('#'+obj).val(record_set[obj][0]);
    }

    if (point_info["marker_type"]=='1')
    {
        image_show("重新上传文件")
        type_arr = ["jpg","png","gif","jpeg"];
        $("#show_img").attr("src","..\\..\\..\\"+point_info["mediaObject"][0][0]);
        if(record_set.hasOwnProperty("show_img"))
            $("#show_img").attr("src", record_set["show_img"][0]);
            $("#show_img").attr("node_id", value_str[0][1]);

    }
    else if(point_info["marker_type"]=='2')
    {
        video_show()
        $('#video_play_block').css("display","block");
        $("#video_play_url").attr('src',point_info["mediaObject"][0][0]);
        document.getElementById("video").load();
        $("#video_url").val(point_info["mediaObject"][0][0]);
        if(record_set.hasOwnProperty("video_url"))
        {
            $("#video_url").val(record_set["video_url"][0]);
            $("#video_play_url").attr('src',record_set["video_url"][0]);
            document.getElementById("video").load();
        }

        $("#video_url").css("background","#e8f0fe");
        $("#video_url").attr("node_id", value_str[0][1]);

    }
    if(user_id == point_info["monitor_id"] || user_role == "A")
    {
            $("#form").find("input").each(function () {
         var or_val = $(this).val()
         $(this).bind('input propertychange', function() {

             var cur_val = $(this).val()
             if($(this).attr('class')=='unify_date_id')
                 return
             if($(this).attr('type')=='text')
             {
                 if($(this).attr('id')=='creator'&&cur_val==""){cur_val="佚名";}
              record_set[$(this).attr('id')]=[cur_val,$(this).attr('node_id')]
             }
             else if($(this).attr('type')=='file')
             {
               let file = document.getElementById("up_file");
                let pos=file.value.lastIndexOf("\\");
                 let file_name = file.value.substring(pos+1);
                 console.log(file_name)
                let reader = new FileReader();
                reader.onload = function(){
                 record_set['show_img']= [this.result,file_name,$('#show_img').attr('node_id')]
                    };
            reader.readAsDataURL(file.files[0]);
             }
         })
         })
            $("#form").find("textarea").each(function () {
              or_val = $(this).val()
             $(this).bind('input propertychange', function() {
                  cur_val = $(this).val()
                 record_set[$(this).attr('id')]=[cur_val,$(this).attr('node_id')]
             })
         })
        var index = layer.open({
    skin:'demo-class',
    type: 1,
    title: '标注信息',
    area: ['350px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: $('#enter_form'),
    btn:['保存修改','删除该标注点'],
    btn1:function()
    {
        $('.error-msg').html("");
        create_update_point(thisMarker.point.lng,thisMarker.point.lat,point_info["marker_type"],index,true,point_info,update_data)
    },
     btn2:function () {
            var post_data ={ "node_id":point_info["node_id"]};
            console.log(post_data)
        $.ajax({
                url: '/map/delete_point/',
                type: "POST",
                data: post_data,
                success: function (data) {
                    map.removeOverlay(thisMarker);
                    layer.alert("已删除！")
                    update_data[point_info["node_id"]]={"marker_type":point_info["marker_type"]}
                    localStorage.setItem("MapSchema_update_data",JSON.stringify(update_data))
                    layer.close(index);
                },
                error:function () {
                  layer.alert("删除失败！")
                }
             });
     }
  });

    }
    else
    {
        $("#up_file").attr("disabled",true);
        $("#form").find("input").attr("readonly","readonly");
        $("#form").find("textarea").attr("readonly","readonly");
     var index = layer.open({
    type: 1,
    title: '标注信息',
    area: ['350px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: $('#enter_form')
  });

    }
}
function submit_update() {
    var update_data = JSON.parse(localStorage.getItem("MapSchema_update_data"))
    console.log(update_data)
    if($.isEmptyObject(update_data))
    {
        alert_info = "没有需要更改的信息。";
            var index = layer.open({
                type: 0,
                content: alert_info,
               });

    }
    else
    {
        var post_data={};
        for(var obj in update_data)
        {
            if($.isEmptyObject(update_data[obj]))
            {
                continue
            }
            post_data[obj]=update_data[obj]
        }
        console.log(post_data)
               $.ajax({
                url: '/map/update/',
               async:true,
                type: "POST",
                data: {"post_data":JSON.stringify(post_data)},
            beforeSend: function () {
            $.ShowLoadDialog();},
                success: function (data) {
                    $.ShowLoadDialogClose();
                  layer.alert("提交修改成功！")
                localStorage.setItem("MapSchema_update_data",JSON.stringify({}))
                    get_location()
                },
                error:function () {
                   $.ShowLoadDialogClose();
                  layer.alert("提交修改失败！")
                }
             });
    }
    return false
}
function create_update_point(lng,lat,marker_type,index,update=false,point_info=null,update_data=null) {
    console.log(update)
        var flag2 = true;
        var up_file = $('#up_file').val();
        var video_url=$('#video_url').val();
        var title = $('#title').val();
        var building_name = $('#building_name').val();
        var building_information = $('#building_information').val();
        var cre_date_year = $('#cre_date_year').val();
        var cre_date_month = $('#cre_date_month').val();
        var cre_date_day = $('#cre_date_day').val();
        var creator = $('#creator').val();
        var date_str = $('#cre_date_str').val();
        var CopyrightOwner = $('#CopyrightOwner').val();
        var file_description = $('#file_description').val();
        var location = $('#location').val();
        var encode_type = $('#encode_type').val();
        var announcer = $('#announcer').val();
        var file_citation = $('#file_citation').val();
        var type = $('#type').val();
        if(marker_type == 1 && isEmpty(up_file)&&!update)
        {
            $('#up_file_error').html("*选择一个文件!");
            flag2=false;
        }
        if(marker_type == 2 && isEmpty(video_url))
        {
            $('#video_url_error').html("*填写一个视频网址!");
            flag2=false;
        }
        if(isEmpty(building_name))
        {
            building_name = "？"
        }
        if(isEmpty(cre_date_year)&&isEmpty(date_str))
        {
            $('#cre_date_error').html("*时间不能为空!");
            flag2=false;
        }

        if(isEmpty(location))
        {
            $('#location_error').html("*地点不能为空!");
            flag2=false;
        }
        if(isEmpty(title))
        {
            $('#title_error').html("*标题不能为空!");
            flag2=false;
        }
        if(isEmpty(creator))
        {
            creator = "佚名"
        }
        if((!isEmpty(cre_date_month)||!isEmpty(cre_date_day))&&isEmpty(cre_date_year))
        {
            $('#cre_date_error').html("*年份不能为空!"); return;
        }
        if(!isEmpty(cre_date_year)&&check_year(cre_date_year))
        {
            $('#cre_date_error').html("*日期不合法!");            return;

        }
        if(isEmpty(cre_date_month)&&!isEmpty(cre_date_day))
        {
            $('#cre_date_error').html("*日期不合法!");           return;

        }
        if(!isEmpty(cre_date_month)&&check_month(cre_date_month))
        {
            $('#cre_date_error').html("*日期不合法!");           return;

        }
        if(!isEmpty(cre_date_day)&&check_day(cre_date_day,cre_date_month,cre_date_year))
        {
            $('#cre_date_error').html("*日期不合法!");            return;

        }
        if(flag2)
        {
            var selectedFile=new FormData();
            var cre_date;
            var select_val=$('#select_1').val()
            if(isEmpty(cre_date_year))
                cre_date="null";
            else
            {
                cre_date=pad_zero(0,cre_date_year)+"年";
                if(!isEmpty(cre_date_month))cre_date=cre_date+pad_zero(1,cre_date_month)+"月";
                if(!isEmpty(cre_date_day))cre_date=cre_date+pad_zero(1,cre_date_day)+"日";
                cre_date+='#'
            }
             if(select_val=='A')
            {
                selectedFile.append("cre_date",cre_date);

            }
            else if(select_val=='B')
            {
                selectedFile.append("cre_date",date_str);
            }
            if(update)
            {
                var record_set = update_data[point_info["node_id"]]
                if(select_val=='A')
                {
                    record_set['cre_date']=[cre_date,$('.unify_date_id').attr('node_id')]
                }
                else if(select_val=='B')
                {
                    record_set['cre_date']=[date_str,$('.unify_date_id').attr('node_id')]
                }
                update_data[point_info["node_id"]]=record_set
                localStorage.setItem("MapSchema_update_data",JSON.stringify(update_data))
                alert_info = "保存成功!,修改信息只是暂时保存，需要点击“ 提交修改 ”按钮才能完成更新。";
                var index = layer.open({
                    type: 0,
                    content: alert_info,
                    btn: ['确定'],});
                return;// 检验填写的数据，不用生成点
            }
            selectedFile.append("up_file",document.getElementById("up_file").files[0]);
            selectedFile.append("lng",lng);
            selectedFile.append("lat",lat);
            selectedFile.append("title",title);
            selectedFile.append("building_name",building_name);
            selectedFile.append("building_information",building_information);
            selectedFile.append("creator",creator);
            selectedFile.append("video_url",video_url);
            selectedFile.append("CopyrightOwner",CopyrightOwner);
            selectedFile.append("file_description",file_description);
            selectedFile.append("location",location);
            selectedFile.append("encode_type",encode_type);
            selectedFile.append("announcer",announcer);
            selectedFile.append("file_citation",file_citation);
            selectedFile.append("type",type);
            selectedFile.append("marker_type",marker_type);

        console.log(selectedFile);
            $.ajax({
                async: true,
        beforeSend: function () {
                    layer.close(index);
                    $.ShowLoadDialog();
        },
                 type: 'post',
                url: '/map/process/',
                cache: false,
                data: selectedFile,
                processData:false,
                contentType:false,
         success: function (result) {
                    $.ShowLoadDialogClose();
                    layer.alert("标注成功!");
                    get_location();
                },
                error:function (){
                    $.ShowLoadDialogClose();
                    layer.alert("标注失败!")
                }

            });

        }
}
function popLayer(e) {
    clear_form()
    select_datefill()
    var title_info;
    if(marker_type == 2)
    {
        title_info = "编辑视频标注信息";
        video_show()
    }
    else if(marker_type == 1)
    {
        title_info = "编辑图片标注信息";
        image_show("选择文件")
    }
    var index = layer.open({
    type: 1,
    title: title_info,
    area: ['350px', '550px'],
    shadeClose: true, //点击遮罩关闭
    content: $('#enter_form'),
    btn:['提交','取消'],
    yes:function () {
        $('.error-msg').html("");
        var lng = e.point.lng;
        var lat = e.point.lat;
        create_update_point(lng,lat,marker_type,index)
        },
    no:function(){//取消按钮
            //do something;
        layer.close(index);
        }

  });
    }
function check_year(val) {
    if(val.length>4)return true;
    val = pad_zero(0,val);
    var reg = /^[\d]+$/;
    return !reg.test(val);
}
function check_month(val) {
    if(val.length>2)return true;
    val = pad_zero(1,val);
    var reg = /^[\d]+$/;
    if(!reg.test(val))return true;
    var value_z = parseInt(val);
    if(value_z<1||val>12)return true;
    return false;
}
function check_day(val,month,year) {
    month = parseInt(month);
    year = parseInt(year);
    if(val.length>2)return true;
    val = pad_zero(1,val);
    var reg = /^[\d]+$/;
    if(!reg.test(val))return true;
    var day=[[31,28,31,30,31,30,31,31,30,31,30,31],[31,29,31,30,31,30,31,31,30,31,30,31]];
    if(val<1||val>day[check_run(parseInt(year))][parseInt(month)-1])
        return true;
    return false;

}
function pad_zero(flag,val) {
    var len=4;
    var zero="";
    if(flag==1)len=2;
    for(var i=0;i<len-val.length;i++)
    {
        zero+="0";
    }
    return zero+val;
}
function check_run(year) {
    if(year%4==0&&year%100!=0)
    {
        return 1;
    }
    if(year%400==0)
    {
        return 1;
    }
    return 0;
}
function choose_form(e) {
    if(showflag)
{
    showflag=false;
    return;}
    var index = layer.open({
        skin:"choose_form",
        type: 1,
        title: '选择标注信息类型',
        area: ['230px', '100px'],
        shadeClose: true, //点击遮罩关闭
        btn: ['图片标注','视频标注'],
        btn1: function () {
            type_arr = ["jpg","png","gif","jpeg"];
            marker_type = 1;
            popLayer(e);
            layer.close(index)
        },
        btn2: function () {
            type_arr = ["mp4","rmvb","mkv"];
            marker_type = 2;
            popLayer(e);
            layer.close(index)

        }
    })
}
function video_show() {
        $("#show_img").attr("src","");
        $("#up_demo_block").attr("src","");
        $('#description_value').html("视频说明 :");
        $('#video_play_block').css("display","none");
        $('#encodetype_value_block').css("display","none");
        $('#source_value').html("视频来源 :");
        $('#up_file_block').css("display","none");
        $('#video_url_block').css("display","block");
}
function image_show(button_text) {
        $('#description_value').html("图片说明 :");
        $('#encodetype_value_block').css("display","block");
        $('#encodetype_value').html("图片格式 :");
        $('#source_value').html("图片来源 :");
        $('#up_file_block').css("display","inline-block");
        $('#file_button_text').html(button_text);
        $('#video_url_block').css("display","none");
}
function isEmpty(obj){
    if(typeof obj == "undefined" || obj == null || obj == ""||obj.toString()=='{}'){
        return true;
    }else{
        return false;
    }
}
(function ($) {
        $.extend({
            //弹窗蒙层
            ShowLoadDialog : function () {
                if ($("#divtipmongolia").length <= 0) {
                    var cusrtxt = $("<div id=\"divtipmongolia\" style=\"position:absolute; z-index:6666;background-color:#000000; opacity:0.6; top:0; bottom:0; right:0; left:0;\"></div>").appendTo($("body"));
                    var atexthtml = "<div style=\"margin-top:25%;text-align:center;font-size:13pt;color:#FCE16E\"> <img src=\"../../../static/imgs/loading.gif\" />正在处理...</div>";
                    $("#divtipmongolia").html(atexthtml);
                }
                else {
                    $("#divtipmongolia").css("display", "block");
                }

            },

            //关闭蒙层
            ShowLoadDialogClose: function ()
            {
                if ($("#divtipmongolia").length > 0) { $("#divtipmongolia").css("display", "none"); }
            }
        });
    }
)(jQuery)
function sear(result) {//地图搜索
    var local = new BMap.LocalSearch(map, {
        renderOptions: {map: map}
    });
    local.search(result);
}
function up_img_process(filename)
{
    let file = document.getElementById("up_file").files[0];
  let reader = new FileReader();

    if($('#show_img').attr('src').length==0)
    {
        reader.onload = function(){
      $('#up_demo_block').attr('src', this.result);
        };
            reader.readAsDataURL(file);

    }
    else if($('#show_img').attr('src').length>0)
    {
        reader.onload = function(){
      $('#show_img').attr('src', this.result);
        };
            reader.readAsDataURL(file);
    }
    console.log("---",type_arr)
 var flag = false; //状态
 var index = filename.lastIndexOf(".");
 var ext = filename.substr(index+1);
 //循环比较
 for(var i=0;i<type_arr.length;i++)
 {
  if(ext == type_arr[i])
  {
   flag = true; //一旦找到合适的，立即退出循环
   break;
  }
 }
 //条件判断
 if(!flag)
 {
     $("#up_file").val("");
  alert("不支持此类文件！")
 }
 else {
     if(marker_type == 1)
     get_type();
 }
}

function get_type() {
     var file = $("#up_file").val();
 var pos = file.lastIndexOf("\\");
 var filename = file.substring(pos+1);

 var fileextname = filename.substring(filename.lastIndexOf(".")+1, filename.length);
 console.log(fileextname)
 $("#encode_type").val(fileextname)
}

</script>
{% endblock %}