#show_div {
/*margin-left: auto;*/

 width: 340px;
/*background: #F8F8F8;*/
padding: 20px 60px 40px 20px;
color: #000000;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
.lab
{ display: inline-block;
 Text-align:justify;
text-align-last:justify;
 width: 60px;
 color: #000000;
 solid-color: #9d9d9d;
font-weight: bold;
  font-size: 13px;

}
.value
{
 word-break: break-all;
 width: 350px;
 font-size: 12px;
}
.field_div
{
 line-height: 25px;
 width: 300px;
}